# direnv temp file
/.direnv/
/.hosthome/

# git HTTPS credential (secret)
/agentshome/.git-credentials

# Claude's config
/agentshome/.claude.json
/agentshome/.claude/.credentials.json
/agentshome/.claude/backups/.claude.json.backup.1782804247075
/agentshome/.claude/cache/
/agentshome/.claude/plugins/
/agentshome/.claude/settings.json
/agentshome/.claude/.claude.json
/agentshome/.claude/*

# Julia's config
/agentshome/.julia/*

# usual home-manager / linux home dotfiles
/agentshome/.config/*
/agentshome/.claude/*
/agentshome/.cache
/agentshome/.local
/agentshome/.nix-profile
/agentshome/.nix-defexpr
/agentshome/.zshenv

# dev
example_nix_config/
plan.md
result

