[user]
  name = Antoine Marteau
  email = antoine.marteau@protonmail.com
[credential]
  helper = "!f() { [ \"$1\" = \"get\" ] && git credential-store --file ~/.git-credentials \"$1\"; }; f"
[push]
  autoSetupRemote = true
